.navbar {
  background-color: black;
  color: white;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo h1 {
  font-size: 40px;
  font-weight: bolder;
}

.icons{
    display: flex;
    gap:30px;
    font-size: 20px;
}

