.search-box {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 420px;
  background: #111;
  padding: 10px;
  border-radius: 4px;
  z-index: 100;
}

.search-box input {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: 1px solid #444;
  outline: none;
}

.close {
  position: absolute;
  right: 15px;
  top: 14px;
  cursor: pointer;
  color: #aaa;
}

/* Dropdown exactly like screenshot */
.search-dropdown {
  margin-top: 10px;
  background: #111;
  border: 1px solid #333;
}

.search-dropdown p {
  padding: 8px 12px;
  margin: 0;
  font-size: 14px;
  color: #ddd;
  cursor: pointer;
}

.search-dropdown p:hover {
  background: #222;
}

.no-result {
  padding: 8px;
  color: #777;
}
.headerLinks{
  color:White;
}
.headerLinks :active{
  color:red;
}


.profile-wrapper {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  width: 230px;
  background: #111;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid #333;
  z-index: 100;
}

.profile-dropdown .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.profile-dropdown .subtitle {
  font-size: 12px;
  color: #aaa;
  display: block;
  margin-bottom: 10px;
}

.login-btn {
  display: block;
  border: 1px solid #444;
  color: #ddd;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 10px;
}

.login-btn:hover {
  background: #222;
}

.dropdown-link {
  font-size: 12px;
  color: #777;
  text-decoration: none;
}

.dropdown-link:hover {
  color: #fff;
}






































.navbar {
  background-color: black;
  color: white;
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo h1 {
  font-size: 40px;
  font-weight: bolder;
}

.icons{
    display: flex;
    gap:30px;
    font-size: 20px;
} 

