/* ===== MODAL ===== */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: #111;
  width: 380px;
  padding: 55px;
  border-radius: 6px;
  color: #fff;
  position: relative;
}



.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 22px;
  cursor: pointer;
}

/* ===== AUTH CONTENT ===== */
.auth-container h2 {
  margin-bottom: 6px;
}

.switch-text {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 30px;
}

.switch-text span {
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

/*  scoped input */
.auth-container input {
  width: 100%;
  height:25px;
  padding: 15px;
  margin-bottom: 25px;
  background: #000;
  border: 1px solid #333;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border:1px solid grey;
}

.primary-btn {
  width: 100%;
  padding: 10px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}
.login{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.login-txt{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.social-btns{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.fb,.google,.tweet{
  color:white;
  padding:15px 25px;
  font-size: 16px;
}
.fb{
  background-color: #3b5998;
}
.google{
  background-color:#a71c02 ;
}
.tweet{
  background-color: #1ea0f1;
}

