.related-products {
  padding: 80px;
}

.rp-card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

.rp-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.rp-price span {
  text-decoration: line-through;
  color: #777;
  margin-left: 10px;
}

.rp-card button {
  margin-top: 10px;
  background: red;
  color: #fff;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
}

